

<div class="wrapper">
<h3>Here is our full list of Products</h3>
<p><%= link_to "Create new product", new_product_path, class: 'btn btn-warning' %></p>
</div>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>
<p><%= link_to "Create new product", new_product_path, class: 'btn btn-warning' %></p>

